div.oe_dynatree {
  z-index: 100;
  display: block;
  position: absolute;
  background: none;
}

span.oe_dynatree .dynatree-icon {
    background: none;
    margin: 0;
    width: 0;
}

#dynatree-summary {
  padding-left: 28px;
}

.oe_dynatree_summary span {
  color: #999;
}


div.oe_dynatree ul {
  border: none;
}

span.dynatree-icon {
  display: none;
}

ul.dynatree-container {
margin: 1px 4px;
padding: 0;
border: 1px solid #999;
}
