div.oe_dynatree {
  z-index: 100;
  display: block;
  position: absolute;
  background: none;
}

span.oe_dynatree .dynatree-icon {
    background: none;
    margin: 0;
    width: 0;
}

.oe_dynatree_without_checkbox {
  padding-left: 31px;
}

.oe_dynatree_summary span {
  color: #999;
}


div.oe_dynatree ul {
  border: none;
}

span.dynatree-icon {
  display: none;
}

ul.dynatree-container {
margin: 1px 4px;
padding: 0;
border: 1px solid #999;
}

label.oe_dynatree_label {
    padding: 5px; 
    text-decoration:underline;
}
div.oe_dynatree_label {
    text-align: center;
    width: inherit;
}
div.oe_dynatree.oe_tree_dynatree{
  position: static;
}
th.treeview-header.oe_treeview-multiheader-group {
    text-align: center;
    font-size: 10px;
}
th.treeview-header.oe_treeview-multiheader-field {
    font-size: 10px;
}
