.oe_dynatree {
  position: absolute;
  z-index: 100;
}
.oe_dynatree_summary {
  width: 20em;
  height: 2.5ex;
  border: 1px solid black;
  background-color: white;
  border-radius:5px;
}

.oe_dynatree_button_toggle {
  border: none;
  background-color: white;
}


